serial --unit=0 --speed=115200
terminal_input serial console
terminal_output serial console

set timeout=0
set default=0

insmod multiboot2
insmod elf

menuentry "Yukka OS" {
    multiboot2 /boot/kernel.bin
    boot
}
