serial --unit=0 --speed=115200
terminal_input serial
terminal_output serial

insmod multiboot2
insmod elf

echo "=== YUKKA BOOT START ==="

# This tries to load the kernel into memory
multiboot2 /boot/kernel.bin

echo "=== KERNEL LOADED (PRE-BOOT) ==="

# This jumps to the kernel
boot

echo "=== BOOT FAILED ==="
